packages/
build/
x64/
.vs/
/vcpkg_installed
/.kiro/specs
/scripts
/external/CTranslate2
/external/sentencepiece
/external/imgui
*.user
*.log
*.ini
/models
/yampt.tests/tests
/yampt.translator/dictionaries
